pandas~=2.2.2
requests~=2.32.3
whois~=1.20240129.2
scikit-learn~=1.5.1
flask~=3.0.3
joblib~=1.4.2

tranco~=0.8.1
urllib3~=2.2.2
psutil~=6.0.0
keras~=3.4.1
imblearn~=0.0
matplotlib~=3.9.1
seaborn~=0.13.2
xgboost~=2.1.0
lightgbm~=4.5.0
numpy~=1.26.4
tld~=0.13